body{
    background:#1ECBE1;
  }
  
  .flip3D{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:large;
    font-weight:bold;
    width:120px;
    height:200px;
    margin:10px;
    float:left;
    position:relative;
    left:20px;
  }
  
  .flip3D > .front{
    display: flex;
    justify-content: center;
    align-items: center;
    position:absolute;
    transform:perspective(600px)rotateY(0deg);
    color:yellow;
    background: blue;
    text-align: center;
    width:120px;
    height:200px;
    line-height: 5px;
    border-radius:7px;
    backface-visibility:hidden;
    transition:transform 0.5s linear 0s;
  }
  
  .flip3D > .back{
    position:absolute;
    transform:perspective(600px)rotateY(180deg);
    background: white;
    width:120px;
    height:200px;
    border-radius:7px;
    border: solid;
    border-color: black;
    backface-visibility:hidden;
    transition:transform 0.5s linear 0s;
  }
  
  :checked + .flip3D > .front{
    transform:perspective(600px)rotateY(-180deg);
  }
  
  :checked + .flip3D > .back{
    transform:perspective(600px)rotateY(0deg);
  }

  input {
    visibility: hidden;
  }


  